.wrapper_transparent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup_fields_container {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-height: 700px;
    height: fit-content;
    margin: 10px 0;
    align-self: center;
    justify-content: center;
}

.signup_fields_container {
    color: var(--color-dark_grey);
    background-color: var(--color-dirty_whitesmoke);
    border: 3px solid var(--color-dark_grey);
    border-radius: 15px;
    box-shadow: 3px 3px 10px var(--color-dark_grey);
}

.fields_container h3 {
    margin-top: 50px;
}

.fields_container h4 {
    margin-top: 30px;
    margin-bottom: 20px;
}

.fields_container form {
    display: flex;
    flex-direction: column;
}

.input_field {
    padding: 20px;
    font-size: 1rem;
    border: 1px solid var(--color-dark_grey);
    color: var(--color-dark_grey);
    border-radius: 50px;
    margin: 5px;
    width: 300px;
    height: 40px;
}

.register_form{
    box-shadow: 5px 4px 10px #646cff;
}


@media screen and (min-width: 576px){
    .signup_fields_container{
        width: 400px;
    }
    .signup_fields_container form{
        width: 250px;
        height: 600px;
        margin-bottom: 50px;
    }

    input.input_field{
        width: 200px;
        font-size: 0.8rem;
    }

    textarea.input_field{
        width: 200px;
        font-size: 0.8rem;
    }

    .signup_fields_container h3{
        font-size: 1.3rem;
        margin-left: 10px;
    }
    .link-p{
        font-size: 0.8rem;
    }

}

@media screen and (min-width: 768px){
    .signup_fields_container form{
        width: 250px;
       
    }  

    button.button{
        margin-top: 20%;
    }
    
}

@media screen and (min-width: 992px){
    button.button{
        margin-top: 20%;
    }
    
    .signup_fields_container {
        width: 600px;
    }  

    .signup_fields_container form{
        width: 300px;
        margin-left: 25%;
    }

    input.input_field{
        width: 250px;
        font-size: 1rem;
    }

    textarea.input_field{
        width: 250px;
        font-size: 1rem;
    }
    button.button{
        margin-top: 10%;
    }
}

@media screen and (min-width:1200px) {

    .signup_fields_container form{
        width: 400px;
        margin-left: 16%;
    }

    button.button{
        margin-top: 10%;
    }

    input.input_field{
        width: 300px;
        font-size: 1rem;
    }

    textarea.input_field{
        width: 300px;
        font-size: 1rem;
    }
}