.contact-pic{
    width: 45%;
    margin-left: 10%;
    box-shadow: 5px 4px 10px var(--color-dark_grey);
}

.contact-container {
    display: grid;   
    align-items: center; 
    border: 1px solid black;
    background-color: var(--color-dirty_whitesmoke);
    border-radius: 50px;
    margin-bottom: 15px;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 5px 4px 10px var(--color-dark_grey);
}


.contact-name {
    grid-column: span 2; 
    margin-left: 5%;
    padding-top: 2%;
    text-decoration: 1px underline var(--color-darker_dirty_whitesmoke);
    font-size: 2em;
    margin-bottom: -40px;
    color: var(--color-dark_grey);
}

.contact-description {
    margin-right: 25%;
    color: black;
    margin-top: 5%;
    
    border-radius: 10px;
}

.contact-link{
    border: 1px solid #646cff;
    background-color: #646cff;
    color: var(--color-dark_grey);
    font-size: 18px;
    padding: 2px;
    margin-bottom: 10px;
    margin-left: 10%;
    border-radius: 10px;
    width: 45%;
    margin-top: -35px;
    box-shadow: 5px 4px 10px var(--color-dark_grey);
}

.contact-link:hover{
    background-color: var(--color-login_green);
    color: var(--color-dark_grey);
    border: 1px solid #646cff;
}

h1.contact-intro{
    
    text-shadow: 2px 2px 4px var(--color-register_orange);
    font-style: italic;
}
p.contact-intro{
  background-color: var(--color-darker_dirty_whitesmoke);
  height: 80px;
  margin: 30px 0 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 4px 10px var(--color-dark_grey);
}

@keyframes titleMovement {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .titleMovement {
    animation: titleMovement 3s ease forwards;
  }
 
  @media screen and (min-width: 576px){
    h1.contact-intro.titleMovement{
      font-size: 2.5rem;
    }
    div.contact-container{
      height: 400px;
    }

    p.contact-intro{
      font-size: 0.6rem;
      height: 50px;
    }
    .contact-pic{
      width: 100px;
      margin-bottom: 100%;
      margin-top: -100%;
    }
    p.contact-description{
      font-size: 0.55rem;
      height: 400px;
      width: 100%;
      margin-right: 150px;
      margin-top: 25px;
      text-align: start; 
    }
    .contact-name{
      font-size: 1.3rem;
      margin-left: 20%;
    }

  }
  @media screen and (min-width: 768px){
    h1.contact-intro.titleMovement{
      font-size: 3rem;
    }
    p.contact-intro{
      font-size: 0.8rem;
      height: 60px;
    }
    p.contact-description{
      font-size: 0.6rem;
      height: 600px;
      width: 80%;
      margin-right: 150px;
      margin-top: 25px;
      text-align: start; 
    }
    .contact-pic{
      width: 100px;
      margin-bottom: 150%;
    
    }
    .contact-name{
      font-size: 1.3rem;
      margin-left: 15%;
    }
  }


  @media screen and (min-width: 992px) {
    h1.contact-intro.titleMovement{
      font-size: 3.5rem;
    }
    p.contact-intro{
      font-size: 0.8rem;
      height: 60px;
    }
    p.contact-description{
      font-size: 0.7rem;
      height: 600px;
      width: 80%;
      margin-right: 150px;
      margin-top: 25px;
      text-align: start; 
    }
    .contact-name{
      font-size: 1.5rem;
      margin-left: 5%;
    }
  }

  @media screen and (min-width: 1200px) {
    h1.contact-intro.titleMovement{
      font-size: 4rem;
    }
    p.contact-intro{
      font-size: 1rem;
      height: 60px;
    }
    p.contact-description{
      font-size: 0.8rem;
      height: 600px;
      width: 80%;
      margin-right: 150px;
      margin-bottom: 20%;
      text-align: start;
    }
    .contact-name{
      font-size: 1.7rem;
    }
    .contact-pic{
      width: 40%;
      margin-top: -5px;
    }
  }
  