.demands {
    display: flex;
    background-color: var(--color-dirty_whitesmoke);
    width: 100%;
    padding-top: 70px;
    margin-bottom: 230px;
    
}

@media screen and (max-width: 800px) {
    .demands {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 230px;

    }
}