.submit_demand_container {
    background-color: var(--color-dirty_whitesmoke);
    border-radius: 10px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.submit_title {
    color: var(--color-dark_grey);
    background-color: #8ecaef40;
    height: 70px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    font-weight: 400;
    font-size: 1.7rem;
    box-shadow: 5px 4px 10px  #8ecaef40;
    display: flex;
    align-items: center;
    justify-content: center;
}

.label_title, .label_description, .label_select {
    color: var(--color-dark_grey);
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 30px 0 10px;
}

.new_demand_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0;
}

.new_demand_title, .new_demand_description {
    color: var(--color-dark_grey);
    background-color: whitesmoke;
    border-radius: 5px;
    width: 70%;
    padding: 20px;
    margin: 0 0 20px;
}

.new_demand_title {
    height: 60px;
}

.new_demand_description {
    height: 250px;
}

.category_select {
    background-color: whitesmoke;
    border: 1px solid black;
    color: var(--color-dark_grey);
    width: 150px;
    height: 35px;
    margin: 0 10px 20px;
    border-radius: 50px;
}

.input_files {
    padding: 5px;
    margin: 0 0 5px;
    height: 35px;
    background-color: whitesmoke;
    color: var(--color-dark_grey);
    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}