.newpass_container{
    margin-top: 10%;
    width: 300px !important;
    box-shadow: 5px 4px 10px #646cff;
    font-family: 'Poppins', sans-serif;
}

p.error_password{
    color: var(--color-dark_grey);
}

.update_pass{
    background-color: #646cff;
    margin-top: 20px;
    box-shadow: 5px 4px 10px var(--color-dark_grey);
}
