.fetched_demands_container {
    flex-grow: 3;
}

.demand{
    padding: 20px 5px;
    margin: 20px;
    height: 100px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: whitesmoke;
    color: black;
}

.demand a {
    text-decoration: none;
    border : 1px solid; 
    color: blue;
   
}
.demand p {
    background-color: var(--color-dark_grey);
    color: antiquewhite;
    height: 50px;
}
.category{
    margin-right: auto;
    font-size: 1.5rem;
}
