.profile_page {
    color: black;
    margin: 40px 0;

    display: flex;
    flex-direction: column;
}

.profile_title {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 20px;
    color: whitesmoke;
}

.user_data_row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.user_data {
    border-radius: 5px;
    display: flex;
    background-color: var(--color-dirty_whitesmoke);
    color: black;

    margin: 5px;
}

.user_data ul {
    align-self: center;
    justify-self: center;
}

.user_description {
    border-radius: 5px;
    background-color: var(--color-dirty_whitesmoke);
    color: black;
    width: 400px;
    flex-grow: 2;

    margin: 5px;
    justify-self: center;
    text-align: center;
}

.user_description h3, .user_description p {
    background-color: var(--color-darker_dirty_whitesmoke);
}

.user_data_row img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    padding: 20px;
}

.user_data_row ul {
    list-style-type: none;
}

.proposals_demands_row {
    border-radius: 5px;
    background-color: var(--color-dirty_whitesmoke);
    color: black;
    margin: 5px;

    display: flex;
    justify-content: space-between;
    height: fit-content;
}

.left_column {
    border-radius: 5px;
    background-color: var(--color-dirty_whitesmoke);
    color: black;
    margin: 10px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.proposal_container {
    background-color: var(--color-darker_dirty_whitesmoke);
    color: black;
    margin: 10px;
    padding: 10px;
}

.demand_container {
    background-color: var(--color-darker_dirty_whitesmoke);
    margin: 10px;
    padding: 10px;
}

.right_column {
    border-radius: 5px;
    background-color: var(--color-dirty_whitesmoke);
    color: black;

    display: flex;
    flex-direction: column;
    flex-grow: 2;
}