.profile_preview_card {
    border-radius: 100px;
    width: 250px;
    height: 70px;
    background-color: var(--color-dirty_whitesmoke);
    color: grey;

    display: flex;
    align-items: center;
}

.profile_link, .profile_link:hover{
    color: var(--color-dark_grey);
}

.round_picture_preview {
    width: 60px;
    height: 60px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin: 5px 10px;
}

/* PARA QUERY 576PX HEIGTH Y WIDTH 40PX EN ROUND_PICTURE_PREVIEW .profile_link*/

@media screen and (min-width: 576px) {
    div.profile_preview_card{
        width: 200px;
        height: 50px;
        margin-right: 10px;
    }
    .round_picture_preview{
        width: 35px;
        height: 35px;
    }
    .profile_link{
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 768px){
    div.profile_preview_card{
        width: 250px;
        height: 60px;
    }

    .round_picture_preview{
        width: 40px;
        height: 40px;
    }
    .profile_link{
        font-size: 1rem;
        
    }
}

@media screen and (min-width: 992px){
    div.profile_preview_card{
        width: 250px;
        height: 70px;
    }
   
    .profile_link{
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 1200px){
    div.profile_preview_card{
        width: 250px;
    }
  .profile_link{
    font-size: 1rem;
  }
}
