.profile_preview_card {
    border-radius: 100px;
    width: 250px;
    height: 70px;
    background-color: var(--color-dirty_whitesmoke);
    color: grey;
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-self: flex-end;
}

.profile_link, .profile_link:hover{
    color: var(--color-dark_grey);
}

.round_picture_preview {
    width: 60px;
    height: 60px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin: 5px 10px;
    background-color: grey;
}
