.floating-button {
    background-color: var(--color-blue_button);
    padding: 25px;
    height: fit-content;
    border: 3px solid var(--color-blue_button);
    border-radius: 50px;
    margin-top: 10px;
    box-shadow: 5px 4px 10px var(--color-dark_grey);
    position: fixed;
    z-index: 100;
    right: 50px;
    bottom: 100px;
}

.floating-button::after {
    content: '✚';
    display: inline-block;
    margin-left: 5px;
    color: white;
  }

.floating-button:hover{
    background-color: var(--color-login_green);
    border: 3px solid var(--color-login_green);
}