@media only screen and (min-width: 900px){
    .home_description_container{
        background-color: #8ec5efc2;
        color: var(--color-dark_grey);
        height: fit-content;
        width: 90%;
        padding: 10px;
        margin-top: 10px;
        box-shadow: 5px 4px 10px var(--color-dark_grey);
        align-self: center;
        justify-self: center;
    }
    
    .home_description{
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        color: black;
    }
    p.home_description strong{
        font-weight: 500;
        letter-spacing: 3px;
        color: var(--color-dirty_whitesmoke);
    }
    .logo-description{
        height: 1rem;
    }
    p.home_description a{
        color: var(--color-dirty_whitesmoke);
        position: relative;
    }
    
    p.home_description a::after {
        content: ""; 
        position: absolute;
        left: 0;
        bottom: -2px; 
        width: 100%; 
        height: 1px;
        background-color: var(--color-dirty_whitesmoke);
    }
    
    p.home_description a:hover{
        color: #646cff;
    }
    
    p.home_description a:hover::after{
        content: ""; 
        position: absolute;
        left: 0;
        bottom: -2px; 
        width: 100%; 
        height: 1px;
        background-color: #646cff;
    }
    
    .flex_container ul {
        list-style-type: none;
    }
    
    .general-container{
        margin: 0.3% 0.9%;
        width: 100%;
    
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}

@media only screen and (min-width: 601px) and (max-width: 899px) { 
    .home_description_container {
        background-color: #8ec5efc2;
        color: var(--color-dark_grey);
        height: fit-content;
        width: 90%;
        padding: 10px;
        margin-top: 40px;
        box-shadow: 5px 4px 10px var(--color-dark_grey);
        align-self: center;
        justify-self: center;
   }
   .logo-description{
    height: 1rem;
}
.general-container{
    margin: 0.3% 0.9%;
    width: 100%;

    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
}

@media only screen and (max-width: 600px) {
    .logo-description{
        height: 1rem;
    }
    .home_description_container{
        background-color: #8ec5efc2;
        color: var(--color-dark_grey);
        height: fit-content;
        width: 90%;
        padding: 10px;
        margin-top: 10px;
        box-shadow: 5px 4px 10px var(--color-dark_grey);
        align-self: center;
        justify-self: center;
    }
  }

  @media only screen and (max-width: 520px) {
    .home_description_container {
        display: block;        
    }
  }