.new_proposal_wrapper {
    border-radius: 10px;
    padding: 20px;
    margin: 40px 20px;
    color: black;
    background-color: var(--color-dirty_whitesmoke);
    border: 3px solid var(--color-dark_grey);
    box-shadow: 5px 4px 10px var(--color-dark_grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin-left: 15%;
}

.new_proposal_wrapper h3 {
    margin: 10px 0 10px;
    font-weight: 300;
}

.submit_new_proposal_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100%;
    margin-bottom: 5%;
}

.submit_new_proposal_form textarea {
    background-color: whitesmoke;
}

.new_proposal_description {
    background-color: var(--color-dirty_whitesmoke);
    border-radius: 5px;
    padding: 20px;
    margin: 0 0 20px;
    width: 500px;
    height: 250px;
    color: black;
}

.new_demand_description {
    height: 250px;
}

.new_demand_input_files {
    border-radius: 5px;
    padding: 5px;
    margin: 0 0 5px;
}

.send_button, .hide_button, .show_button{
    background-color: #646cff;
    box-shadow: 5px 4px 10px var(--color-dark_grey);
    margin-top: 10px;
}