.proposal_card {
    border: 1px solid black;
    padding: 40px 20px;
    margin: 20px;
    box-shadow: 5px 4px 10px var(--color-dark_grey);
}

.proposal_card_user_info {
    display: flex;
    flex-direction: column;
}

.proposal_card_proposal_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.proposal_card_proposal_info h4 {
    background-color: #979797;
    margin: 0;
    padding: 5px;
    border-radius: 10px;
    width: fit-content;
    margin-bottom: 15px;
}

.proposal_card_proposal_info p {
    background-color: white;
    width: 80%;
    min-width: 400px;
    font-size: .8rem;
    border-radius: 10px;
    margin-bottom: 20px;
}

.img_h4_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-self: auto;
    justify-self: center;
    height: 60px;
}

.proposal_user_avatar{
    width: 55px;
    height: 55px;
    border: 1px solid black;
    border-radius: 50px;
    margin-right: 10px;
}

.proposal_card_files {
    display: flex;
    align-items: center;
    justify-content: center;
}

.demand_files {
    min-width: 150px;
    width: fit-content;
    font-size: 1rem;

    display: flex;
    flex-direction: column;
}

.file_icon {
    width: 50px;
}

.edit_buttons_container_proposal {
    width: fit-content;
    
    display: flex;
    align-items: center;
    align-self: flex-end;

    position: relative;
    top: -45px;
}

.proposal_card ul {
    list-style-type: none;
}

.demand_proposals_container {
    background-color: whitesmoke;
    border-radius: 10px;
    color: black;

    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px 0;
    min-width: 400px;
    width: 100%;
    min-height: 200px;
    height: fit-content;

}

.demand_proposals_id {
    background-color: var(--color-darker_dirty_whitesmoke);
    border-radius: 5px;
    flex-grow: 1;
    margin-bottom: 5px;
    text-align: left;
    padding: 20px 10px 5px 10px;
}

.demand_proposals_description {
    background-color: var(--color-darker_dirty_whitesmoke);
    border-radius: 5px;
    flex-grow: 3;
    text-align: left;
    padding: 20px 10px 5px 10px;
}

.proposal_card_votes_info {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 20px 0 0 0;
}
.proposal_files{
   
        position: relative;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
    
}

.proposal_card_votes_info p {
    padding: 0;
    letter-spacing: normal;
}

.average_score {
    display: flex;
    align-items: center;
}

.rating span {
    color: #979797;
  }
  
  .rating .active {
    color: #ffe928;
  }
  
  .rating:hover span {
    color: #6161ff;
    cursor: pointer;
  }
  
  .rating span:hover + span { color: #979797; }
  .rating span:hover + span + span { color: #979797; }
  .rating span:hover + span + span + span { color: #979797; }
  .rating span:hover + span + span + span + span { color: #979797; }


  @media screen and (max-width: 768px) {
    .proposal_card_proposal_info p {
        background-color: white;
        width: 80%;
        min-width: 300px;
        font-size: .8rem;
        border-radius: 10px;
        margin-bottom: 20px;
    }
  }