div.copyright{
  border: 1px solid var(--color-dark_grey);
  width: 80%;
  margin-left: 10%;
  margin-bottom: 15px;
  border-radius: 10px;
  margin-top: 50px;
}
p, h3 {
    margin: 5px;
    padding: 10px;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 300;
    color: var(--color-dark_grey);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
h1.copy-title{
    margin-top: 5px;
    text-decoration: 2px underline;
    font-size: 2.5em;
    line-height: 2;
    margin-right: 0%;
    text-shadow: 2px 2px 4px #646cff;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
  }
