form {
    display: flex;
    margin: 40px 30px 20px;
    justify-content: center;
    align-items: center;
  }
  
  .search_bar {
    background-color: var(--color-dirty_whitesmoke);
    padding: 20px;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 50px;
    margin-right: 5px;
    width: 500px;
    height: 60px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    color: var(--color-dark_grey);
    border-radius: 50px;
    height: 60px;
  }
  
  button:hover {
    background-color: var(--color-login_green);
    color: var(--color-dark_grey);
  }
  