.help_please {
    color: var(--color-dark_grey);
    background-color: var(--color-darker_dirty_whitesmoke);
    height: 70px;
    margin: 30px 0 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 2rem;
    box-shadow: 5px 4px 10px var(--color-dark_grey);
    display: flex;
    align-items: center;
    justify-content: center;
}

.faqs {
    display: flex;

    align-items: center;
    justify-content: space-evenly;
}

.clients, .freelancers {
    color: black;
    background-color: var(--color-dirty_whitesmoke);
    border-radius: 20px;
    padding: 40px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 10px;
    height: 700px;
    max-height: 700px;
    overflow-y: scroll;
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
}

.clients::-webkit-scrollbar, .freelancers::-webkit-scrollbar {
    width: 12px;
}
  
.clients::-webkit-scrollbar-thumb, .freelancers::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.clients {
    border: 5px solid var(--color-login_green);
    box-shadow: 5px 4px 15px var(--color-login_green);
    margin-left: 10%; 
}

.freelancers {
    border: 5px solid var(--color-register_orange); 
    box-shadow: 5px 4px 15px var(--color-register_orange);
    margin-right: 10%;
}

.clients h3, .freelancers h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 20px;
}

.faq_details {
    margin-bottom: 10px;
}

.faq_question {
    font-size: 1.5rem;
}

.faq_answer {
    margin: 10px 0 20px;
    overflow: hidden;
    text-wrap: wrap;
    max-width: 300px;
}

@media screen and (min-width: 768px) {
    
    .clients h3, .freelancers h3{
        font-size: 1.3rem;
    }
    .clients h3 {
        letter-spacing: 5px;
        margin-bottom: 25px;
        margin-top: -25px;
    }
    .freelancers h3{
        letter-spacing: 4px;
    }
    .faq_question{
        font-size: 1.1rem;
    }
    .faq_answer{
        font-size: 0.8rem;
    }
    .help_please{
        height: 50px;
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 992px) {
    
    .clients h3, .freelancers h3{
        font-size: 1.4rem;
    }
    
   .freelancers h3{
    margin-top: -30px;
   }

    .faq_question{
        font-size: 1.2rem;
    }

    .faq_answer{
        font-size: 0.9rem;
    }

    .help_please{
        height: 60px;
        font-size: 1.7rem;
    }
}

@media screen and (min-width: 1200px) {
    
    .clients h3, .freelancers h3{
        font-size: 2rem;
    }

    .faq_question{
        font-size: 1.5rem;
    }
    
    .faq_answer{
        font-size: 1rem;
    }

    .help_please{
        height: 70px;
        font-size: 2rem;
    }
}

@media screen and (max-width: 480px) {
    .faqs {
        display: flex;
        flex-direction: column;
    
        align-items: center;
        justify-content: space-around;
    }

    .clients, .freelancers {
        width: 90%;
        margin: 20px;
        height: fit-content;
    }
}
