header{
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    left: 15%;
    color: #F4903E;
  }
  
  header h1 {
    display: inline;
    margin: 0;
    padding: 1px 50px 9px;
    
  }

  header img {
    width: 230px;
    height: 66px;
    position: fixed;
    top: 0;
    left: 0;
  }

  nav a {
    font-size: 1.2em;
    padding: 55px;
    text-decoration: none;
    color: #F4903E;
  }
  
    border: 1px solid white;
    padding: 20px;
}
.links{
    padding: 10px;
}