* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header_container {
    min-width: 1000px;
    max-width: 1300px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 340px;
    background-image: url('../../assets/images/header_background_1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header_container h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 6rem;
    font-weight: 400;
    padding: 20px 20px 10px 20px;
}

.header_container h1 span {
    color: var(--color-neon_orange);
}

.header_container h3 {
    font-family: 'Major Mono Display', monospace;
    font-size: 1.5rem;
    padding: 0 20px 30px;
}

.links_container {
    font-family: 'Poppins', sans-serif;
    list-style-type: none; 
    letter-spacing: 4px;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.3);
    height: 50px;

    display: flex; 
    justify-content: center;
    align-items: center;
}

.links_container a {
    padding: 5px 15px;
}

.links_container a:hover {
    color: var(--color-neon_orange);
}

.links_container li:first-child::before {
    content: '';
}

.links_container li::before {
    content: '|';
}
