


.footer_container {
    background-color: var(--color-dark_grey);
    color: var(--color-dirty_whitesmoke);
    border: 1px solid var(--color-darker_dirty_whitesmoke);
    padding: 20px;
    margin: 3% 0 5% 0;
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.footer_links {
    display: flex;
  }
  
  .footer_links > div {
    flex: 1;
    margin-right: 10px; 
  }
  
  .footer_links a {
    display: block;
    text-align: center;
    margin-bottom: 5px;
    width: 50%;
    margin-left: 30%;
}
  
