.resetpass_container{
    margin-top: 10%;
    box-shadow: 5px 4px 10px #646cff;
}

p.success_message{
    color: var(--color-dark_grey);
}

.reset_pass{
    background-color: #646cff;
    margin-top: 20px;
    box-shadow: 5px 4px 10px var(--color-dark_grey);
}