.fields_container {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-height: 700px;
    height: fit-content;
    margin: 10px 0;
}

.login_fields_container {
    background-color: var(--color-dirty_whitesmoke);
    border: 3px solid var(--color-login_green);
    border-radius: 15px;
    color: black;
}

.fields_container h3 {
    margin: 50px 0 20px;
    font-weight: 300;
}

.fields_container form {
    display: flex;
    flex-direction: column;
}

.input_field {
    padding: 20px;
    font-size: 1rem;
    border: 1px solid transparent;
    background-color: whitesmoke;
    border-radius: 50px;
    margin: 5px;
    width: 300px;
    height: 40px;
}

.login_register_button {
    border: 1px solid whitesmoke;
    background-color: transparent;
    border-radius: 50px;
    width: 100px;
    margin-top: 20px;
}